.foo {
  width: 100%;
  margin: 0 auto;

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    width: 75%;
    background-color: "#005D7A";
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 100%;
  }
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
*{
scroll-behavior: smooth;
}

.MuiDataGrid-columnHeaders {
  color: white !important;
  background-color: #005D7A !important;
}
.MuiDataGrid-cellContent {
  padding: 10px 0px !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #005D7A !important;
}

/* .MuiSelect-select{
  padding: 10px !important;
  border: 1px solid gray !important;
  border-radius: 10px !important;
} */